<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>thirdlaw</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Abel-Regular.ttf</string>
		<string>ProximaNovaAltExtraCondensedRegular.otf</string>
		<string>ProximaNovaAltCondensedExtrabold.otf</string>
		<string>ProximaNovaAltCondensedBold.otf</string>
		<string>ProximaNovaAltExtraCondensedExtraboldItalic.otf</string>
		<string>ProximaNovaAltCondensedThin.otf</string>
		<string>ProximaNovaAltCondensedThinItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedThinItalic.otf</string>
		<string>ProximaNovaAltCondensedBoldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedBoldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedSemiboldItalic.otf</string>
		<string>ProximaNovaAltCondensedSemiboldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedExtrabold.otf</string>
		<string>ProximaNovaAltCondensedLight.otf</string>
		<string>ProximaNovaAltThinItalic.otf</string>
		<string>ProximaNovaAltBlack.otf</string>
		<string>ProximaNovaAltBoldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedBlack.otf</string>
		<string>ProximaNovaAltExtraCondensedRegularItalic.otf</string>
		<string>ProximaNovaAltCondensedRegularItalic.otf</string>
		<string>ProximaNovaAltCondensedBlack.otf</string>
		<string>ProximaNovaAltCondensedExtraboldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedBlackItalic.otf</string>
		<string>ProximaNovaAltRegular.otf</string>
		<string>ProximaNovaAltBlackItalic.otf</string>
		<string>ProximaNovaAltCondensedBlackItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedLight.otf</string>
		<string>ProximaNovaAltExtraCondensedThin.otf</string>
		<string>ProximaNovaAltSemiboldItalic.otf</string>
		<string>ProximaNovaAltLight.otf</string>
		<string>ProximaNovaAltExtraCondensedBold.otf</string>
		<string>ProximaNovaAltCondensedRegular.otf</string>
		<string>ProximaNovaAltBold.otf</string>
		<string>ProximaNovaAltCondensedSemibold.otf</string>
		<string>ProximaNovaAltExtraCondensedSemibold.otf</string>
		<string>ProximaNovaAltSemibold.otf</string>
		<string>ProximaNovaAltExtrabold.otf</string>
		<string>ProximaNovaAltExtraboldItalic.otf</string>
		<string>ProximaNovaAltExtraCondensedLightItalic.otf</string>
		<string>ProximaNovaAltCondensedLightItalic.otf</string>
		<string>ProximaNovaAltLightItalic.otf</string>
		<string>ProximaNovaAltRegularItalic.otf</string>
		<string>ProximaNovaAltThin.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
